.ps_1 {
  color: #0057e7;
  font-size: 30px;
  font-weight: 600;
}

@keyframes fish {
  0% {
    transform: translate(0)
  }

  50% {
    transform: translate(100%)
  }

  100% {
    transform: translate(0)
  }
}

.loader {
  height: 100%;
  line-height: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke: #0057e7;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.2s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -125px;
  }
}

.showbox {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 100%;
}

#busuanzi_container_page_pv {
  font-size: 10px;
}

#busuanzi_container_page_pv::before {
  content: "📜";
}

::-webkit-scrollbar {
  display: none;
}

#dark_1 {
  font-size: 18px;
  color: white;
  border: none;
  background-color: #e7c400;
  position: fixed;
  bottom: 70px;
  right: 20px;
  height: 30px;
  width: 30px;
  line-height: 10px;
  text-align: center;
  box-shadow: 0 0 2px;
  border-radius: 100%;
  transition: all 0.5s;
  line-height: 30px;
  padding: 0;
}

#top_1 {
  font-size: 18px;
  color: white;
  border: none;
  background-color: #0057e7;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: 30px;
  width: 30px;
  line-height: 10px;
  text-align: center;
  box-shadow: 0 0 2px;
  border-radius: 100%;
  transition: all 0.5s;
  opacity: 0;
  line-height: 30px;
  padding: 0;
}

.wzxx_1 {
  padding: 4px;
  box-shadow: inset 0 0 2px #555;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background-color: white;
}

code {
  background-color: #555;
  color: #777;
  padding: 8px;
  border-radius: 10px;
}

img {
  max-width: 90%;
  border-radius: 10px;
}

.ne_1 {
  background-color: #0057e7;
  width: 90%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  user-select: none;
  color: white;
  line-height: 100px;
}

body {
  scrollbar-width: none;
  background-color: white;
  color: #333;
  font-family: 'Noto Sans SC', 'STHeiti Light', 'Source Han Sans CN', 'SimHei', "Times New Roman", Georgia, Serif, SimHei;
}

p {
  margin: 6px;
}

.fo_1 {
  margin: 0 auto;
  text-align: center;
  color: #666;
  width: 80%;
  border-radius: 100px;
}

.t_2 {
  text-align: center;
}

.a_2 {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 2px;
  text-decoration: none;
  user-select: none;
}

.a_3 {
  box-shadow: 0 0 4px #555;
  overflow: hidden;
  text-align: center;
  border-color: #333;
  height: 200px;
  color: #333;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

a {
  color: #666;
}

.a_4 {
  font-weight: 500;
  width: 100%;
  display: inline-block;
  margin: 2px;
}

.a_1 {
  color: #333;
  transition: all 0.4s;
  border-radius: 100px;
  text-decoration: none;
}

#m_2 {
  z-index: 2;
  float: right;
  background: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

#m_2:active {
  background: rgba(0, 0, 0, 0.08);
}

#m_1:active {
  background: rgba(0, 0, 0, 0.08);
}

#m_1 {
  z-index: 2;
  position: fixed;
  background: none;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
}

#l_1 {
  z-index: 2;
  bottom: 0;
  overflow: hidden;
  width: 0;
  box-shadow: 0 0 6px #555;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

#h_1 {
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: none;
  transition: all 0.5s;
  -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
}

#t_1 {
  line-height: 10px;
  user-select: none;
  text-align: center;
}

.off_1 {
  background: none;
  border: none;
}

.alert_1 {
  padding: 4px;
  box-shadow: 0 0 4px #555;
  border-radius: 10px;
  right: 3px;
  max-width: 100px;
  background-color: white;
  position: fixed;
  z-index: 10;
  color: #333;
  top: 6px;
}

@media all and (orientation:landscape) {
  .a_4:hover {
    color: #0057e7 !important;
  }

  .a_4 {
    display: inline;
  }

  #m_1 {
    display: none;
  }

  #m_2 {
    display: none;
  }

  #l_1 {
    width: 250px;
    height: 50px;
    background: none;
    box-shadow: none;
    line-height: 18px;
    left: 4px;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }


  .k_1 {
    display: none
  }

  .a_1::after {
    content: ' ';
  }
}